<div>
    <div class="card-body">
        <div class="col-lg-8 col-md-8 offset-2">
            <div class="text-center">
                <span class="title-login">
            <p>
              ¡Usa la misma identificación y contraseña de tu <b>APP Factura Ya!!</b>!
            </p>
          </span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit();">

                <!--Correo-->
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input type="email" class="form-control" placeholder="Ingrese su correo electronico" formControlName="correo" name="correo" />
                    </div>
                    <app-form-control-error formControlName="correo"></app-form-control-error>
                </div>
                <!--password-->
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" placeholder="Ingrese una contraseña" formControlName="password" name="password" />
                    </div>
                    <app-form-control-error formControlName="password"></app-form-control-error>
                </div>

                <!--recuerdame-->
                <div class="form-group">
                    <input type="checkbox" id="cbox2" [checked]="form.value.remember" formControlName="remember">
                    <label for="cbox2">Recuerdame</label>
                    <app-form-control-error formControlName="remember"></app-form-control-error>
                </div>

                <!--Boton registrarme-->
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success btn-md btn-block text-uppercase">Entrar</button>
                    </div>
                </div>
                <!--Boton registrarme-->
                <div class="form-group m-b-0">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-secondary btn-md btn-block text-uppercase" routerLink="/auth/register">Crear Cuenta</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>