<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar ps-container ps-theme-default ps-active-y">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="list-unstyled components">
                <li class="sidebar-item user-profile">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#profileSubmenu" data-toggle="collapse" aria-expanded="false">
                        <img src="assets/images/users/profile.png" alt="">
                        <span class="hide-menu">Steave Jobs </span>
                    </a>
                    <ul id="profileSubmenu" aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item"><a href="javasript:void()" class="sidebar-link p-0"><i class="mdi mdi-adjust"> My Profile</i></a></li>
                        <li class="sidebar-item"><a href="javasript:void()" class="sidebar-link p-0"><i class="mdi mdi-adjust"> My Balance</i></a></li>
                        <li class="sidebar-item"><a href="javasript:void()" class="sidebar-link p-0"><i class="mdi mdi-adjust"> Inbox</i></a></li>
                        <li class="sidebar-item"><a href="javasript:void()" class="sidebar-link p-0"><i class="mdi mdi-adjust"> Account Setting</i></a></li>
                        <li class="sidebar-item"><a (click)="_userService.logout()" class="sidebar-link p-0 pointer"><i class="mdi mdi-adjust"> Logout</i></a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li *ngFor="let menu of _sidebarService.menu" class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false" href="#personSubmenu" data-toggle="collapse">
                        <i [class]="menu.icono"></i>
                        <span class="hide-menu">{{menu.titulo}} <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span>
                    </a>
                    <ul id="personSubmenu" aria-expanded="true" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">

                            <a routerLinkActive="activate" [routerLink]="[submenu.url]" class="sidebar-link p-0">
                                <i class="mdi mdi-home"></i>
                                <span class="hide-menu"> {{submenu.titulo}} </span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>